html{
  height: 100%;
}
body{
  height: 100%;
  margin:0;
  background: linear-gradient(40deg, rgba(206,155,246,1) 50%, rgba(234,207,255,1) 55%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  letter-spacing: .20rem;
  width: auto;
  display: flex;
  flex-direction: column;
}

/* GLOBALS*/

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

p{
  font-size: 14.5px;
}
img{
  width: 100%;
  height: auto;
}

/*NavBar*/
.navbar-brand{
  font-size: 2.5rem;
  display: contents;
}
.nav-item{
  font-size: 1.75rem; 
}
.nav-pills .nav-link.active { background-color: #EACFFF;}

.nav-item a:hover{
  background-color:gray;
}

/*HOME*/
.home{
  width:70%;
  background-color: #f8f9fa;
  margin:10% auto auto;
  padding: 1%;
  
}

.home h1{
  font-size: 5rem;
}

.test{
  width: 70%;
  margin: 5% auto 0;
  flex-grow: 1;
}
/*GALLERY*/
.gallery{
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.pictures{
  margin: 1%;
}


/*PACKAGES*/
.cards h2{
  font-size: 2.2rem;
}
.cards h2,.cards h3,.cards h4{
  text-align: center;
}

.cards{
  margin: 4% 3% 2% 3%;
  width:auto;
}
.card-body{
  background-color: #f8f9fa;
  margin:.5%;
}
.discount h3{
  text-align: center;
}

.discount{
  flex-grow: 1;
}


/*ABOUT*/
.about{
  text-align: center;
  margin:2% auto auto;
  display: flex;
  justify-content:space-between;
  flex-grow: 1;
  
}
.photo{
  text-align: center;
  width: 33%;
  margin-left: 3%;
  
}

.info{
  width: 60%;
  margin: 2% 2% auto;
}

/*NEWS*/
.news{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1% auto auto;
}
.workshop{
  width: 100%;
  text-align: center;
  background-color: #674185;
  color:#f8f9fa;
  padding: 10px;
}

.updates{
  width: 80%; 
  height: auto;
  padding-top: 50px;
}
.updates h1{
  text-align: center;
}
.wanted{
  font-size: 1.20rem;
}
.featured{
  width: 50%;
}


/*CONTACT*/
.contact{
  margin:5% auto auto;
  flex-grow: 1;
  text-align: center;
}
#input{
  background-color: #f8f9fa;
  border-radius: 5px;
  border: none;
  width: 20rem;
  height: 2rem;
}
.textArea{
  background-color: #f8f9fa;
  border-radius: 5px;
  border: none;
  width:20rem;
  box-sizing: border-box;
}

.forms{
  box-sizing: border-box;
  text-align: center;
  height: auto;
  width: 50%;
  margin: 2% auto;
}

.modal-content{
  background-color: #674185;
  color:#f8f9fa;
  text-align: center;

}
/*FOOTER*/
footer {
  flex-shrink: 0;
  text-align: center;
  color: white;
  max-width: 100%;
  width: 100%;
  height: 50px;
}



/*MOBILE CSS*/

@media (max-device-width: 900px) {
  /*Global*/
  body{
    font-size: 15px;
    word-wrap:normal;
  }
  /*NavBar*/
  .navbar-brand{
    font-size: 1.2rem;
    line-height: 3rem;
  }
  /*Index - HOME screen*/

  .home{
    word-wrap:normal;
    width: auto;
    margin: 10% 2% 0;
  }

  .home h1{
    font-size: 3rem;
      }
  .carousel-item{
    word-wrap:normal; 
  }  
  .carousel-item h5{
    font-size: 13px; 
     } 

  /*GALLERY*/

  /*PACKAGES*/
  .cards h2{
    font-size: 2rem;
  }
  .cards p{
    font-size: 13px;
  }
  .cards{
    margin: 2% auto auto ;
  }
  .card-body{
    margin:.25%;
  }
  .trouble{ 
    margin-top:0;
  }
  .discount h3{
    font-size: 1rem;
  }
  .discount{
    margin-bottom: 50px;
    padding-bottom:50px;
  }

  /*ABOUT*/
  .about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .photo{
    width:95%;
    height:auto;
  }
  .info{
    width: 95%;
  }
  .info h5{
    font-size: .80rem;
  }

  /*NEWS*/
  .updates{
    width: 100%; 
  }
  .wanted{
    font-size: 1rem;
  }
  .featured{
    width: 100%;
  }


  /*CONTACT*/
  .forms{
    margin: 2%;
    width: auto;
  }
  
}
@media (max-device-width:1400px){
  /*NAV*/
  .navbar-brand{
    font-size: 2rem;
  }

  /*HOME*/
  .home{
    margin-top: 5%;
  }
  .home h1{
    font-size: 4rem;
  }

  /*GALLERY*/

  /*PACKAGES*/
  .cards h2{
    font-size: 1.35rem;
  }
  .cards{
    margin: .75% auto 2%;
  }
  .card-body{
    margin:0;
  }
  .card-text{
    font-size: 13px;
  }

  /*ABOUT*/
.about{
  margin:1.5% auto auto;
}
.photo{
  text-align: center;
  width: 30%;
}

.info{
  width: 60%;
  margin: .5% 1% auto;
}
.info h1{
  font-size: 1.5rem;
}

.info h2{
  font-size: 1.5rem;
}
.info h5{
  font-size: 1.05rem;
}



}