body{
  margin:0;
  background-color:#EACFFF;
  letter-spacing: .15rem;
}

/* GLOBALS*/

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

p{
  font-size: 14.5px;
}
h1{
  font-size: 60px;
}





/*NavBar*/
.navbar{
  background-color: #EACFFF;
}
.navbar-brand{
  font-size: 2rem;
  display: contents;
}
.nav-item{
  font-size: 1.75rem;
}
.nav-pills .nav-link.active { background-color: #EACFFF;}

/*HOME*/
.home{
  width:70%;
  background-color: #f8f9fa;
  margin-top:15%;
  padding: 50px;
}

.home h1{
  font-size: 5rem;
}
/*Packages*/
.cards h1{
  font-size: 3.25rem;
}
.cards{
  margin: 2% 3% 4% 3%;
  width:auto;
}

.row{
  display: flex;
}
.card-body{
  background-color: #f8f9fa;
  padding:8px;
}

/*.packages{
  width:60%;
  margin-top: 15vh;
}*/


/*CONTACT*/
.contact{
  margin:auto;
}
#input{
  background-color: #f8f9fa;
  border-radius: 5px;
  border: none;
  width: 20rem;
  height: 2rem;
}
.textArea{
  background-color: #f8f9fa;
  border-radius: 5px;
  border: none;
  width:20rem;
  box-sizing: border-box;
}

.forms{
  box-sizing: border-box;
  text-align: center;
  height: auto;
  width: 50%;
  margin: 2% auto;
}
/*FOOTER*/
footer {
  text-align: center;
  color: white;
  max-width: 100%;
  height: 2rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.foot {
  color:black;
  padding-top: .25%;
}



@media (max-device-width: 812px) {
  body{
    font-size: 15px;
  }
  h1{
    font-size: 1.5rem;
  }

  .forms{
    margin: 2.5%;
  }
}